$content-padding: 100px;
$navbar-padding: 30px;
$logo-size: 60px;
$navbar-height: calc(#{$logo-size} + #{$navbar-padding} * 2);

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Ropa Sans", sans-serif;
}

p {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}
